.nav-container {
  height: 97px;
  border: 1px solid red;
  display: flex;
}

.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}

.search .search-icon { 
  position: absolute;
  top: 22px;
  left: 5%;
  width: 25px;
}

.search input { 
  text-indent: 30px;
  font-family:  FontAwesome, sans-serif;
}

input {
  width: 450px;
  padding: 5px;
  margin: 15px;
  height: 25px;
  outline:none
}
