@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(138, 136, 136);
  font-size: 7px;
}

img {
  width: 12px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}




h5 {
  font-size: 8px;
  color: #3629B7;
}
.container {
  display: flex;
  /* background-color: rgb(40, 150, 82); */
  height: 308.5px;
  padding: 10px
};

.body {
  /* background-color: rgb(238, 22, 22); */
}

.left_bar {
  /* background-color: rgb(72, 197, 60); */
  width: 25%;
}

.logo {
  border: 1px solid yellow;
  height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

.menu {
  border: 1px solid green;
  height: 223px;
  padding-left: 30px;
}

.driver {
  border: 1px solid red;
  height: 50px; 
}

.right_bar {
  /* background-color: rgb(226, 144, 144); */
  color: red;
  width: 75%;
  text-align: center;
  vertical-align: middle;
}